    <div class="srch-bar"></div>
    <div class="page-container">
      <div class="sidebar">
        <div class="item-box-up">
          <div class="up-spc">
            <%= link_to "Your Profile", edit_user_registration_path, class: "link-to-txt" %>
          </div>
          <div class="up-spc">
            <%= link_to "Transactions History", orders_path, class: "link-to-txt" %>
          </div>
        <% if !current_user.owner%>
          <div class="up-spc">
            <%= link_to "Supported Rents", owners_helped_path, class: "link-to-txt" %>
          </div>
        <%end%>
        </div>
      </div>
      <div class="page-body-flat">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, remote: true, class: "txtfld-trans") do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class= "col-12 col-lg-6">
      <%= f.input :email, required: false, class: "txtfld-trans" %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :first_name, required: false, class: "txtfld-trans" %>
      <%= f.input :last_name, required: false %>
    </div>
    <div class= "col-12 col-lg-6">
      <%= f.input :password,
                  required: false,
                  hint: "leave it blank if you don't want to change it",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  required: true,
                  hint: "we need your current password to confirm your changes",
                  input_html: { autocomplete: "current-password" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "button-primary" %>
  </div>
<% end %>

<div class="mt-4">
<p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "green" %></p>

</div>


      </div>
    </div>
